.widget {
  grid-template-rows: auto 1fr;
}

.widget h3 {
  margin: 0;
  font-size: 14px;
}

.fallback {
  margin: 0;
  font-size: 14px;
}

.embed-frame {
  width: 100%;
  height: 100%;
  min-height: 0;
}
